@media screen and (max-width: 1750px) {
	.work_inner p {
	    display: flex;
	    align-items: center;
	    font-size: 25px;
	    font-weight: 600;
	    line-height: 50px;
	    color: #fff;
	}
}

@media screen and (max-width: 1700px) {
	.work h1 {
	    white-space: nowrap;
	    font-size: 70px;
	    font-weight: 600;
	    line-height: var(--DisplayMediumLineHeight);
	    color: #fff;
	    text-transform: uppercase;
	}

	.work h2 {
	    margin: -15px 0 0 0;
	    white-space: nowrap;
	    font-size: 90px;
	    font-weight: 600;
	    line-height: var(--DisplayMediumLineHeight);
	    color: #fff;
	    text-transform: uppercase;
	}

	.work h3 {
	    margin-top: 65px;
	    font-size: 60px;
	    font-weight: 500;
	    line-height: 70px;
	    color: #fff;
	    text-transform: uppercase;
	}

	.work h3 b {
	    font-size: 54px;
	    font-weight: 500;
	}

	.work_block:last-child {
	    width: 54%;
	    padding: 0 0 0 30px;
	}

	.work_block {
	    width: 46%;
	}
}

@media screen and (max-width: 1800px) {
	.work_restagle {
		width: 95%;
	    height: 6px;
	    border-radius: 100px;
	    background: #FD8402;
	    box-shadow: 0px 0px 50px 0px #FD8402;
	    margin: 40px 0 0 0;
	}
}

@media screen and (max-width: 1600px) {
	.work h1 {
	    white-space: nowrap;
	    font-size: 60px;
	    font-weight: 600;
	    line-height: var(--DisplayMediumLineHeight);
	    color: #fff;
	    text-transform: uppercase;
	}

	.work h2 {
	    margin: -15px 0 0 0;
	    white-space: nowrap;
	    font-size: 75px;
	    font-weight: 600;
	    line-height: var(--DisplayMediumLineHeight);
	    color: #fff;
	    text-transform: uppercase;
	}

	.work h3 {
	    margin-top: 65px;
	    font-size: 55px;
	    font-weight: 500;
	    line-height: 70px;
	    color: #fff;
	    text-transform: uppercase;
	}

	.work h3 b {
	    font-size: 50px;
	    font-weight: 500;
	}

	.work_block:last-child {
	    width: 54%;
	    padding: 0 0 0 30px;
	}

	.work_restagle {
        width: 100%;
    
    }

	.work_block {
	    width: 46%;
	}

	.work_restagle {
		width: 100%;
	    height: 6px;
	    border-radius: 100px;
	    background: #FD8402;
	    box-shadow: 0px 0px 50px 0px #FD8402;
	    margin: 40px 0 0 0;
	}

	.work h3 {
        margin-top: 26px;
        font-size: 55px;
        font-weight: 500;
        line-height: 70px;
        color: #fff;
        text-transform: uppercase;
    }

    .work_inner {
	    display: flex;
	    align-items: center;
	    padding: 30px 0 0 0;
	    flex-wrap: wrap;
	}

	.work_inner_block {
		width: 100%;
		display: flex;
		justify-content: center;
	}

	.work_inner_block:last-child {
		padding: 40px 0 0 0;
	}
}

@media screen and (max-width: 1500px) {
	.work_block:last-child {
        width: 51%;
        padding: 0 0 0 30px;
    }

    .work_block {
        width: 49%;
    }

    .work h3 {
        margin-top: 26px;
        font-size: 50px;
        font-weight: 500;
        line-height: 50px;
        color: #fff;
        text-transform: uppercase;
    }

    .work h3 b {
        font-size: 45px;
        font-weight: 500;
    }
}

@media screen and (max-width: 1450px) {
	.work_block {
        width: 47%;
    }

    .work_block:last-child {
        width: 53%;
        padding: 0 0 0 30px;
    }
}

@media screen and (max-width: 1400px) {
	.work h1 {
        white-space: nowrap;
        font-size: 50px;
        font-weight: 600;
        line-height: var(--DisplayMediumLineHeight);
        color: #fff;
        text-transform: uppercase;
    }

    .work h2 {
        margin: -10px 0 0 0;
        white-space: nowrap;
        font-size: 63px;
        font-weight: 600;
        line-height: var(--DisplayMediumLineHeight);
        color: #fff;
        text-transform: uppercase;
    }

    .work h3 {
        margin-top: 26px;
        font-size: 43px;
        font-weight: 500;
        line-height: 55px;
        color: #fff;
        text-transform: uppercase;
    }

    .work h3 b {
        font-size: 40px;
        font-weight: 500;
    }
}

@media screen and (max-width: 1250px){
	
}


/* стили для md-устройств */
@media screen and (max-width: 1200px) {
	.work h1 {
        white-space: nowrap;
        font-size: 45px;
        font-weight: 600;
        line-height: var(--DisplayMediumLineHeight);
        color: #fff;
        text-transform: uppercase;
    }

    .work h2 {
        margin: -10px 0 0 0;
        white-space: nowrap;
        font-size: 57px;
        font-weight: 600;
        line-height: var(--DisplayMediumLineHeight);
        color: #fff;
        text-transform: uppercase;
    }

    .work h3 {
        margin-top: 26px;
        font-size: 36px;
        font-weight: 500;
        line-height: 55px;
        color: #fff;
        text-transform: uppercase;
    }

    .work h3 b {
        font-size: 33px;
        font-weight: 500;
    }
}	


@media screen and (max-width: 1050px) {
	

  
}


/* стили для sm-устройств */
@media screen and (max-width: 1024px) {
	.firstblock{
		padding-top: 100px;
	}

	.textblock{
		align-items: center;
	  }

	.work h3{
		margin-top: 5px;
	}

	.header_logo a img {
		width: 238px;
	}

	.header {
	    padding: 25px 0 0 0;
	}

	.work {
	    padding: 10px 0 0 0;
	}

	.work_bottom {
		display: none;
	}

	.work_wrap {
		flex-wrap: wrap;
	}

	.work_block {
		width: 100%;
	}

	.work_img {
		margin: 0;
		justify-content: center;
	}

	.work_img img {
		width: 600px;
	}

	.work_block:last-child {
		width: 100%;
		text-align: center;
	}

	.work_inner {

        padding: 5px 0 0 0;
	}

	.work_inner_block:last-child {
        padding: 3px 0 0 0;
    }
    

	.work_link {
	    font-size: 30px;
	    font-weight: 600;
	    line-height: 20px;
	    color: #fff;
	    display: flex;
	    align-items: center;
	    justify-content: center;
	    height: 73px;
	    width: 438px;
	    border-radius: 12px;
	    background: #FD8402;
	    animation: 1.6s playShadow ease-out infinite;
	    position: relative;
	    box-shadow: 1px 3px 7px -5px #FFFFFF inset, 3px 6px 16px 0px #FFFFFF66 inset;
	}


	.modal_overflo {
		padding: 0 20px;
	}

	.work_restagle {
        margin: 6px 0 0 0;
	}

  
}

/* стили для sm-устройств */
@media screen and (max-width: 992px) {
	
}


@media screen and (max-width: 900px) {
	.modal_width{
		margin: 50px auto 0 auto;
	}
}


/* Ipad*/ 
@media screen and (max-width: 768px) {
	.firstblock{
		padding: 70px 80px 0;
	}

	.work_block:last-child{
		padding: 20px 0 0 0;
	}

	.work_restagle {
        margin: 10px 0 0 0;
    }

	.work_inner {
        padding: 20px 0 0 0;
    }

	.work_inner_block:last-child {
        padding: 15px 0 0 0;
    }

	.work_img img {
        width: 409px;
    }

    .header_nav ul {
    	justify-content: flex-end;
    	flex-wrap: wrap;
    }

    .header_nav ul li:nth-child(1) {
    	width: 100%;
    	justify-content: flex-end;
    	order: 3;
    	padding: 29px 0 0 0;
    }

    .header_nav ul li:nth-child(2) {
    	order: 1;
    	padding: 0 33px 0 0;
    }

    .header_nav ul li:nth-child(3) {
    	order: 2;
    }

    .work {
    	padding: 0 0 55px 0;
    	margin: -23px 0 0 0;
    }

    .work_link {
    	width: 100%;
    }

    .modal_width {
	    position: relative;
	    z-index: 1;
	    margin: 120px auto 0 auto;
	    max-width: 1608px;
	}

	.modal_overflo {
		height: 604px;
	}
}


/* Ipad mini*/ 
@media screen and (max-width: 640px) {
	.firstblock{
		padding: 49px 67px 0;
	}
}

@media screen and (max-width: 575px) {
  	.work h1 {
        white-space: nowrap;
        font-size: 40px;
        font-weight: 600;
        line-height: var(--DisplayMediumLineHeight);
        color: #fff;
        text-transform: uppercase;
    }

    .work h2 {
        margin: -10px 0 0 0;
        white-space: nowrap;
        font-size: 50px;
        font-weight: 600;
        line-height: var(--DisplayMediumLineHeight);
        color: #fff;
        text-transform: uppercase;
    }

    .work h3 {
        margin-top: 26px;
        font-size: 30px;
        font-weight: 500;
        line-height: 45px;
        color: #fff;
        text-transform: uppercase;
    }

    .work h3 b {
        font-size: 27px;
        font-weight: 500;
    }

    .modal_title {
	    position: relative;
	    z-index: 1;
	    font-size: 26px;
	    font-weight: 600;
	    line-height: 60.51px;
	    color: #fff;
	    text-align: center;
	    text-transform: uppercase;
	}

	.modal_width {
        position: relative;
        z-index: 1;
        margin: 60px auto 0 auto;
        max-width: 1608px;
    }


}

@media screen and (max-width: 515px) {
	.header {
        padding: 58px 0 0 0;
    }

	.work_restagle {
		width: 320px;
	}


	.work_block:last-child {
        padding: 40px 0 0 0;
    }

	.work_restagle {
        margin: 20px 0 0 0;
    }

	.work_inner_block:last-child {
        padding: 48px 0 0 0;
    }

	.container {
		padding: 0 20px;
	}

	.work h1 {
        white-space: nowrap;
        font-size: 30px;
        font-weight: 600;
        line-height: var(--DisplayMediumLineHeight);
        color: #fff;
        text-transform: uppercase;
    }

    .work h2 {
        margin: -5px 0 0 0;
        white-space: nowrap;
        font-size: 38px;
        font-weight: 600;
        line-height: var(--DisplayMediumLineHeight);
        color: #fff;
        text-transform: uppercase;
    }

    .work_img img {
        width: 309px;
    }

    .work h3 {
        margin-top: 26px;
        font-size: 23px;
        font-weight: 500;
        line-height: 30px;
        color: #fff;
        text-transform: uppercase;
    }

	.work_link {
        width: 320px;
    }

    .work h3 b {
        font-size: 20px;
        font-weight: 500;
    }

    .work_inner p {
        display: flex;
        align-items: center;
        font-size: 18px;
        font-weight: 600;
        line-height: 24px;
        color: #fff;
    }

    .work_inner p img {
    	width: 25px;
    }

    .header_logo a img {
        width: 150px;
    }

    .header_link img {
    	width: 45px;
    }

    .header_link {
    	width: 45px;
    	height: 45px;
    }
}

/* Galaxy S8+*/ 
@media screen and (max-width: 480px) {
  	.modal_text p {
	    font-size: 16px;
	    font-weight: 600;
	    line-height: 24.26px;
	    text-align: center;
	    color: #fff;
	    margin-bottom: 24px;
	}


    .modal_overflo {
        
    }

	.firstblock{
		padding: 20px 40px 0;
	}
}

/* Galaxy*/ 
@media screen and (max-width: 415px) {
	.header{
		padding: 25px 0 0 0;
	}
  	.work h1 {
        white-space: nowrap;
        font-size: 26px;
        font-weight: 600;
        line-height: var(--DisplayMediumLineHeight);
        color: #fff;
        text-transform: uppercase;
    }

	.work_link {
		font-size: 22px;
		font-weight: 600;
		line-height: 20px;
		height: 41px;
		
	  }

	.work_block:last-child{
		padding: 25px 0 0 0;
	}

	.work_restagle {
		margin: 20px 0 0 0;
	}

	.work h3 {
		margin-top: 15px;
	}

	.work_inner {
		padding: 20px 0 0 0;
	}

	.work_inner_block:last-child {
		padding: 25px 0 0 0;
	}

	.work {
        padding: 0 0 12px 0;
        margin: -23px 0 0 0;
    }

    .work h2 {
        margin: -5px 0 0 0;
        white-space: nowrap;
        font-size: 33px;
        font-weight: 600;
        line-height: var(--DisplayMediumLineHeight);
        color: #fff;
        text-transform: uppercase;
    }
}


/* Iphone 6.7.8 */ 
@media screen and (max-width: 375px) {
	.work_block:last-child {
        padding: 10px 0 0 0;
    }

	.work_restagle {
        width:300px;
    }

	.modal_overflo {
        height: 504px;
    }

	.modal_width {
        margin: 50px auto 0 auto;
    }

	.work_restagle {
        margin: 10px 0 0 0;
    }
	.work h3 {
        margin-top: 10px;
    }
	.work_inner {
        padding: 12px 0 0 0;
    }
	.work_inner_block:last-child {
        padding: 15px 0 0 0;
    }

	.firstblock{
		padding: 20px 20px 0;
	}
}

/* Iphone 5.5SE */ 
@media screen and (max-width: 320px) {

}

@media screen and (max-height: 1600px) {
	.modal_width {
		margin: 110px auto 0 auto;
	}


}

@media screen and (max-height: 950px) {
	.work {
		padding: 30px 0 0 0;
	}

	.header {
		padding: 30px 0 0 0;
	}


}

@media screen and (max-height: 865px) {
	.work_bottom {
		padding: 1px 0 0 0;
	}

	.header {
		padding: 13px 0 0 0;
	}

	.work {
		padding: 1px 0 0 0;
	}

	.modal_width {
        margin: 50px auto 0 auto;
    }

	.firstblock {
		padding: 70px 150px 0;
	}

	img {
		max-width: 96%;
	}
}

@media screen and (max-height: 865px) and (max-width: 480px)  {

	.firstblock {
		padding: 20px 40px 0;
	}
}

@media screen and (max-height: 750px) and (max-width: 375px)  {
	.firstblock {
		padding: 20px 40px 0;
	}
}

@media screen and (max-height: 750px) {
	.work_bottom {
        padding: 1px 0 0 0;
    }

	.header {
        padding: 12px 0 0 0;
    }

	.work_inner_block:last-child {
        padding: 20px 0 0 0;
    }



	.work {
        padding: 1px 0 0 0;
    }

	img {
		max-width: 98%;
	}

}

@media screen and (max-height: 667px) {
	.work {
        padding: 5px 0 0 0;
    }
	.modal_width {
        margin: 50px auto 0 auto;
    }
}